page-reset-password {
    background-color: color($colors, semidark) !important;
    .pane {
        min-height: 100vh;
        max-width: 100vw;
        background-color: color($colors, semidark);
      }
     
        .logo-wrapper {
          width: 100vw;
          height:100%;
          flex: 2;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: color($colors, semidark);
          
          #logo {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            background-color: color($colors, semidark);
            width: 36vw;
            height: 36vw;
            justify-content: center;
            align-items: center;
            background-color: color($colors, pearl);
            border-radius: 50%;
            img {
              width: 68%;
            }
          }
          #logo.rotate {
            animation-name: spin;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            -webkit-animation-name: spin;
            -webkit-animation-duration: 2000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
          }
         
        }  
      
    form{
        margin-bottom:32px;

        button{
            margin-top: 20px;
        }
    }
    p{
        font-size: 0.8em;
        color: #d2d2d2;
    }
    ion-label{
        margin-left: 5px;
    }
    ion-input{
        padding: 5px;
    }
    .invalid{
        border-bottom: 1px solid #ff6153;
    }

    .error-message {
        min-height: 2.2rem;
        p{
            font-size: 60%;
        }
        ion-label{
            margin: 2px 0;
        }
        .item-inner{
            border-bottom: 0 !important;
        }
    }
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }